html {
	padding: 0;
    margin: 0;
    min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: $grey;
    font-size: 1rem;
    min-height: 100%;
    width: 100%;
    position: absolute;
}
a {
	text-decoration: none;
	&:visited {
		color: inherit;
	}
}
* {
	box-sizing: border-box;
}

/*
*	Basic stuff
*/
.link {
	&:hover {
		text-decoration: underline;
	}
}
.input {
	border: none;
	font-size: $font-size-medium;
	padding: $spacing-small;
	border-radius: $border-radius-small;
	background-color: white;
	width: 100%;
	max-width: 320px;
	outline: none;
	box-shadow: 0 0 0 1px $grey;
	transition: all .15s;
}
.input, .select, .button {
	&:focus, &:active {
		box-shadow: 0 0 0 1px $accent-15;
		z-index: 1;
		outline: 0;
	}
}
.strong {
	font-weight: bold;
	color: $black-ninety;
	cursor: pointer;
}
.form-group {
	margin-bottom: $spacing-medium;
	.select {
		appearance: none;
		border: solid 1px $grey;
		padding: .5rem;
		font-size: $font-size-medium; 
		background: none;
		width: 100%;
	}

}
.button {
	font-family: 'Lato';
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	appearance: none;
	border: none;
	padding: $spacing-small $spacing-medium;
	background-color: white;
	border-radius: $border-radius-large;
	font-size: $font-size-medium;
	//margin-bottom: $spacing-medium;
	outline: none;
	cursor: pointer;
	transition: all .15s;
	&--wide {
		padding: $spacing-small $spacing-large;
	}
	&--full {
		width: 100%;
		margin-bottom: $spacing-small;
	}
	&--strong {
		text-transform: uppercase;
		font-weight: bold;
	}
	&--accent {
		background-color: $accent-15;
		color: white;
		/*&:focus {
			box-shadow: 0 0 0 2px $yellow-dark;
		}*/
	}
	&--yellow {
		background-color: $yellow;
		&:focus {
			box-shadow: 0 0 0 2px $yellow-dark;
		}
	}
	&--red {
		background-color: $red;
		&:focus {
			box-shadow: 0 0 0 2px $red-dark;
		}
	}
	&--close, &--delete, &--icon {
		font-size: $font-size-large;
		color: $grey-light;
		padding: 0;
		margin: 0;
		border-radius: 0;
		&:hover {
			color: black;
		}
	}
	&--delete {
		border: solid 1px $grey;
		width: 40px;
	}
	&--browser {
		text-transform: initial;
		font-weight: normal;
		padding: $spacing-small;
		border: solid 1px $grey;
		border-radius: 3px;
		width: 40px;
		color: $grey-light;
		font-size: $font-size-medium;
		&:hover {
			color: $black-ninety;
			border-color: $grey-light;
		}
		&.active {
			background: $grey;
			color: $black-ninety;
		}
	}
	&--expandable {
		> :first-child {

		}
		> :last-child {
			max-width: 0;
		}
	}
}
.icon {
	display: inline-block;
	color: white;
	font-size: 1.25rem;
}
.content-container {
	max-width: 1280px;
	margin: auto;
	padding: $spacing-medium;
	&.edged {
		padding: 0;
		margin: 0;
		margin: auto;
	}
	&--small {
		max-width: 320px;
	}
	&.slider-container {
		background-color: $grey-medium;
		max-width: 100%;
	}
	&.browsers-container {
		height: 350px;
	}
	&.statistics-container {
		background-color: $grey;
	}
	&.browsertiles-container {
		background-color: $grey;
		display: flex;
		flex-direction: column;
	}
}
.description {
	color: $grey-dark;
	margin: 0 0 $spacing-small 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/*
*	Project-list component
*/
.projects-list {
	max-width: 320px;
	border: solid 1px #efefef;
	border-bottom-width: 10px;
	margin: auto;
	margin-top: $spacing-extra-large;
	border-radius: $border-radius-large;
	filter: drop-shadow(0 2px 29px rgba(0,0,0,.5));
	background: white;
	.project {
		padding: $spacing-medium;
		> * {
			margin: 0;
		}
	}
	.projects-list-item {
		display: inline-flex;
		width: 100%;
		align-items: stretch;
		justify-content: space-between;
		border-bottom: solid 1px $grey;
		> * {
			border-right: solid 1px $grey;
		}
		> :last-child {
			border: none;
		}
		.link {
			overflow: hidden;
		}
		.button--delete {
			flex-grow: 1;
		}
		.button--icon {
			flex-grow: 1;
			align-self: center;
			text-align: center;
		}
	}
}

/*
*	Modal component
*/
.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.45);
	z-index: 1;
	transition: opacity .1s;
	.modal-container {
		top: 50%;
		transform: translateY(-50%);
	}
}
.modal-container {
	display: block;
	position: relative;
	width: 320px;
	margin: auto;
	background: white;
	border-radius: $border-radius-small;
	padding: $spacing-small;
	box-shadow: 0 0 14px 0px $grey-dark;
	max-width: 100%;
	&--wide {
		width: 480px;
	}
}
.modal-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: $spacing-medium;
	color: $black-ninety;
}

/*
*	Configurator page
*/

.configurator {
	color: $black-ninety;
	.button--add {
		margin-bottom: $spacing-medium;
	}
}
.browser-field {
	display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: $spacing-medium;
    .form-group {
    	display: inline-flex;
    	flex-direction: column;
    	margin-bottom: 0;
    	label {
    		font-size: $font-size-small;
    		color: $grey-light;
    	}
    	&.select--browser {
			/*min-width: 50%;*/
			max-width: 220px;
    	}
    	&.select--version {
    		min-width: 80px;
    	}
    	&.input--share {
    		min-width: 50px;
    		max-width: 50px;
    	}
    }
    .quick-selector {
    	display: inherit;
    	.button {
    		border-radius: 0;
	    	&:first-child {
	    		border-radius: $border-radius-small 0 0 $border-radius-small;
	    	}
	    	&:last-child {
	    		border-radius: 0 $border-radius-small $border-radius-small 0;
	    	}
    	}
    }
    > * {
    	margin-right: $spacing-small;
    	&:last-child {
    		margin-right: 0;
    	}
    }
}

/*
*	Login page
*/




/*
*	Dashboard page
*/
/*
*	Component: Page-List
*/
.page-slider {
	.pages-head {
		display: flex;
		justify-content: space-between;
		padding: $spacing-extra-small $spacing-medium;
		align-items: center;
		max-width: 1280px;
		margin: auto;
		.count {
			color: $grey-light;
		}
		.order-switch {
			span {
				padding: .25rem
			}
			:first-child {
				border-radius: $border-radius-small 0 0 $border-radius-small;
			}
			:last-child {
				border-radius: 0 $border-radius-small $border-radius-small 0;
			}
		}
	}
	.slider {
		overflow-y: hidden;
		//overflow-x: scroll;
		will-change: scroll-position;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		transform: translate3d(0, 0, 0);
		width: 100%;
		position: relative;
		padding: $spacing-small 0 $spacing-large 0;
		&.orderReverse {
			direction: rtl;
			> *:first-child {
				margin-left: 0;
			}
			> *:last-child {
				margin-left: $spacing-medium;
			}
		}
		> *:first-child {
			margin-left: $spacing-medium;
			@media only screen and (min-width: 1281px) {
				margin-left: calc( (100% - 1280px) / 2);	
			}
		}
		> .hint--empty {
			font-size: $font-size-xlarge;
			text-align: center;
			color: $grey-light;
		}
	}
}
/*
*	Component: Page
*/
.page {
    display: inline-block;
    cursor: pointer;
    position: relative;
	width: 240px;
	height: 140px;
	margin: 0 $spacing-medium 0 0;
	box-shadow: 0 2px 14px -2px $grey-dark;
	direction: ltr;
	will-change: contents;
	&.isLoading {
		.page-overlay {
			background: black;
		}
	}
	&.isChecking {
		.page-preview {
			filter: blur(10px);
		}
	}
	&.all {
		.page-overlay {
			background-color: $green;
		}	
	}
	&:after{
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		margin-top: 0px;
		border-color: transparent;
		border-bottom-color: $grey;
		border-width: 20px;
		margin-left: -20px;
		transition: margin .25s;
		z-index: 2;
		left: 50%;
		top: 160px;
	}
	&.active {
		&:after {
			margin-top: -24px;
		}
		.page-overlay {
			border: solid 5px;
		}
	}
	&-preview {
		height: 100%;
		overflow: hidden;
		transition: all 1s;
		filter: blur(0px);
	}
    &-overlay {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		color: white;
		padding: 1.5rem 0 3rem 0;
		transition: all .2s;
		.percentage {
			transition: all .2s;
			border-bottom: solid 1px white;
			width: 75%;
			height: 50%;
			align-self: center;
			display: flex;
			flex-direction: row;
			justify-content: center;
			transform: translate3d(0, 0, 0);
			font-size: $font-size-xlarge;
			font-weight: bold;
			align-items: center;
			justify-content: flex-start;
			.icon {
				margin-right: $spacing-small;
			}
		}
		.title {
			transition: all .2s;
			border-top: solid 1px white;
			width: 75%;
			height: 50%;
			align-self: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			transform: translate3d(0, 0, 0);
		}
		.open {
			height: 0;
			opacity: 0;
			display: flex;
			align-items: center;
		}
		&:hover {
			background-color: rgba(0, 0, 0, .1);
			padding: 0;
			.percentage, .title {
				height: 30px;
				width: 100%;
				padding: 0 .5rem;
			}
			.open {
				transition: all .2s .2s;
				opacity: 1;
			}
		}
	}
	&-thumb {
		width: 1200px;
		height: 700px;
		transform: scale(0.2);
		transform-origin: left top;
		position: absolute;
		border: none;
		left: 0;
		top: 0;
		z-index: 0;
		overflow: hidden;
	}
}

/*
*	Component: ElementsList
*/
.pile {
	display: inline-block;
	padding: $spacing-extra-small $spacing-medium;
	margin-right: $spacing-small;
	margin-bottom: $spacing-small;
	color: white;
	background-color: $black-ninety;
	border-radius: $border-radius-rounded;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	span {
		margin-right: $spacing-extra-small;
	}
	span:last-child {
		margin-right: 0;
	}
}

/*
*	Component: Dropzone
*/

.dropzone-container {
	width: 100%;
	min-height: 200px;
	border: dashed 2px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-bottom: $spacing-medium;
	border-radius: $border-radius-small;
	color: $grey-light;
	&:hover {
		color: $black-ninety;
	}
}
.dropzone-content {
	font-size: $font-size-medium;
	.icon-cloud-upload {
		font-size: $font-size-xlarge;
	}
}
.file-tile {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgba(214, 225, 228, 0.5);
	padding: $spacing-medium;
	border-radius: $border-radius-large;
	.icon-file {
		font-size: 4rem;
		margin-right: $spacing-small;
	}
	.desc {
		display: flex;
		flex-direction: column;
		text-align: left;
	}
}

/*
*	Component: Browsers
*/
.browsers-list {
	background-color: $grey-medium;
}

/*
*	Component: Chartcontainer
*/
.charts-container {
	/*@media only screen and (min-width: 960px) {
		.chart-container {
			width: 50%;
		}
	}*/
}
.chart-container {
	height: 300px;
	width: 100%;
	margin: $spacing-large 0;
	display: inline-block;
}

/*
*	Component: Historycontainer
*/
.history-container {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	.chart {
		width: 100%;
		height: 60px;
		padding: $spacing-small;
		background: $grey;
		border-radius: $border-radius-small;
	}
}
/*
*	Component: Historytooltip
*/
.history-tooltip {
	display: flex !important;
	max-width: 300px;
	border-radius: $border-radius-small;
	background-color: white;
	filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 8px 12px);
	align-items: center;
	flex-direction: column;
	padding: $spacing-small;
	.label {
		font-size: $font-size-small;
		margin: 0;
	}
	.value {
		font-size: $font-size-xlarge;
		margin: 0;
		color: $accent-15;
	}
}

.browser {
	&.open {
		.browserbox {
			box-shadow: 0 4px 10px rgba(165, 165, 165, 0.56);
			transform: scale(1.05);
		}
		.browser-detail {
			max-height: 170px;
		}
	}
}
.browser-container {
	display: flex;
	align-items: center;
	cursor: pointer;
	.browserbox {
		padding: 0.5rem;
		border-radius: 5px;
		background: white;
		box-shadow: 0 2px 10px #eee;
		flex-basis: 400px;
		transition: transform 0.15s;
		display: flex;
		background: white;
		border-radius: 5px;
		box-shadow: 0 0 10px #eeeeee;
		flex-grow: 1;
		max-width: 400px;
		min-width: 320px;
		transition: all .25s;
		h3 {
			margin: .5rem;
			display: inline-flex;
			align-items: center;
			span {
				margin-right: .5rem;
			}
		}
	}
	.separator {
		flex-grow: 2;
		margin-left: 1rem;
		height: 2px;
		background: #afafaf;
		border-radius: 5px;
		box-shadow: 0 0 10px #eeeeee;
	}
	.percentagebox {
		flex-grow: 10;
		margin-left: 1rem;
		border-radius: $border-radius-small;
		overflow: hidden;
		.percentagebox-content {

			.browser-version {
				height: 50px;
				background-color: #25bcca;
				float: left;
				border-right: solid 1px white;
				&:last-child {
					border: none;
					border-radius: 0 $border-radius-small $border-radius-small 0;
				}
			}
		}
	}
	&:hover, &.open {
		.browserbox {
			box-shadow: 0 4px 10px rgba(165, 165, 165, 0.56);
			transform: scale(1.05);
		}
	}
	
}
.browser-detail {
	max-height: 0;
	overflow: hidden;
	transition: .5s max-height;
	box-shadow: inset 0 2px 10px rgba(28, 46, 54, 0.5);
	background: $accent-50;
	color: white;
	position: relative;
	.content-container {
		&:before, &:after {
		    content: '';
		    display: block;
		    position: absolute;
		    top: 0;
		    border-top: 20px solid $grey;
		}
		&:before {
		    left: 0;
	    	border-right: 20px solid transparent;
	    	filter: drop-shadow(0 0 5px black);
	    	width: calc(calc(100% - 1280px) / 2 + 10px);
		}
		&:after {
		    right: 0;
	    	border-left: 20px solid transparent;
	    	filter: drop-shadow(0 0 5px black);
	    	width: calc(100% - calc(100% - 1280px) / 2 - 50px);
		}
	}
}




/*
*	Component: ReactTabs
*/
.react-tabs [role=tablist] {
	border-bottom-color: $grey-light;
}
.react-tabs [role=tab] {
	border: solid 1px $accent-50;
    bottom: auto;
    background: white;
    color: $accent-50;
    border-radius: $border-radius-rounded;
    margin-bottom: $spacing-medium;
    margin-right: $spacing-medium;
}
.react-tabs [role=tab][aria-selected=true] {
	border: solid 1px $accent-50;
	background: $accent-50;
	color: white;
	border-radius: $border-radius-rounded;
    margin-bottom: $spacing-medium;
}

/*
*	Component: Tooltip
*/
.tooltip--simple {
	filter: drop-shadow(4px 10px 15px rgba(0,0,0,.25));
	margin-top: -20px;
	z-index: 2;
	position: absolute;
	.rc-tooltip-inner {
		background: white;
		color: $black-ninety;
		padding: $spacing-small;
		border-radius: $border-radius-small;
	}
	.rc-tooltip-arrow {
		border-top-color: white !important;
		bottom: -10px !important;
		border-width: 10px 10px 0 !important;
		margin-left: -10px;
	}
	&.rc-tooltip-placement-bottom {
		.rc-tooltip-inner {
			margin-top: 5px;
		}
		.rc-tooltip-arrow {
			margin-left: -10px;
			  top: -4px !important;
			  border-width: 0 10px 10px !important;
			  border-bottom-color: white !important;
		}	
	}
}
.tooltip--local {
	.rc-tooltip-inner {
		margin-top: 25px;
	}
	.rc-tooltip-arrow {
		display: none;
	}
}
.rc-tooltip {
  position: absolute;
  z-index: 1;
  display: block;
  visibility: visible;
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-inner {
  min-height: 34px;
}
.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  bottom: 4px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: black;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-topLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  right: 15%;
}
.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  left: 4px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: black;
}
.rc-tooltip-placement-right .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  right: 4px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: black;
}
.rc-tooltip-placement-left .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-leftTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  top: 4px;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: black;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  right: 15%;
}
.rc-tooltip.rc-tooltip-zoom-enter,
.rc-tooltip.rc-tooltip-zoom-leave {
  display: block;
}
.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear {
  opacity: 0;
          animation-duration: 0.3s;
          animation-fill-mode: both;
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
          animation-play-state: paused;
}
.rc-tooltip-zoom-leave {
          animation-duration: 0.3s;
          animation-fill-mode: both;
          animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
          animation-play-state: paused;
}
.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
          animation-name: rcToolTipZoomIn;
          animation-play-state: running;
}
.rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
          animation-name: rcToolTipZoomOut;
          animation-play-state: running;
}
@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
            transform-origin: 50% 50%;
            transform: scale(0, 0);
  }
  100% {
    opacity: 1;
            transform-origin: 50% 50%;
            transform: scale(1, 1);
  }
}
@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
            transform-origin: 50% 50%;
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
            transform-origin: 50% 50%;
            transform: scale(0, 0);
  }
}




/*
*	Animations
*/
@keyframes spinnerRotate
{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
.animate.rotate{
	animation-name: spinnerRotate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes lightUp
{
    0% {
    	transform: translateY(-50%) scale(1);
    }
    33% {
    	transform: translateY(-50%) scale(.8);
    }
    50% {
    	transform: translateY(-50%) scale(1);
    }
    70% {
    	transform: translateY(-50%) scale(1.05);
    }
    100% {
    	transform: translateY(-50%) scale(1);
    }
}
.animate.checked{
	animation-name: lightUp;
	animation-duration: .5s;
	animation-timing-function: linear;
}