$grey: #f8f8f8;
$grey-light: #999;
$grey-dark: #5e696d;

$grey-medium: #E0EBEF;

//$yellow: #FAEC6B;
//$yellow-dark: #D7C52A;
$yellow: #eae066;
$yellow-dark: rgba(234, 224, 102, 0.4);

$red: #f84545;
$red-dark: #cc0000;

$green: rgb(5, 184, 113);

$black-ninety: #1c2e36;

$accent-50: #0e687a;
$accent-30: #1a9dae;
$accent-20: #25bcca;
$accent-15: #30c8d6;



