.header {
	width: 100%;
	box-shadow: 0 0 10px 0 $grey-dark;
	background-color: white;
}
.nav-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.nav-list-item {
		display: inline-block;
	}
}