.header {
	width: 100%;
	box-shadow: 0 0 14px -3px $grey-dark;
	background-color: $black-ninety;
	color: white;
	z-index: 1;
	position: relative;
}
.navigation {
	&--first {
		padding: $spacing-medium $spacing-medium 0 $spacing-medium;
	}
	&--second {
		margin-top: $spacing-medium;
		.nav-list-item {
			flex-grow: 1;
			text-align: center;
			.link {
				width: 100%;
				display: inline-block;
				padding: $spacing-small;
				display: inline-flex;
				align-items: center;
				text-align: center;
				justify-content: center;
				color: $grey-dark;
				&.active {
					border-bottom: solid 3px $yellow;
					color: $yellow;
				}
				> span:first-child {
					margin-right: $spacing-small;
				}
			}
		}
	}
}
.nav-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.nav-list-item {
		&.withOverlay.active:after{
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			margin-top: 10px;
			border-color: transparent;
			border-bottom-color: #fff;
			border-width: 20px;
			margin-left: -30px;
			transition: margin .25s;
			z-index: 10;
		}
		&:visited {
			.link {
				color: white;
			}
		}
	}
}
.toggle {
	display: inline-block;
	flex-grow: 1;
	text-align: center;
	.toggle-button {
		font-family: 'Lato';
		font-weight: bold;
		border: solid 1px white;
		display: inline-block;
		cursor: pointer;
		padding: $spacing-extra-small $spacing-small;
		text-transform: capitalize;
		display: inline-flex;
		align-items: center;
		vertical-align: center;
		color: white;
		> :first-child {
			margin-right: $spacing-small;
		}
		&.active {
			background: white;
			color: $black-ninety;
		}
		&:hover:not(.active) {
			background: rgba(255,255,255,0.25);
		}
		&:first-child {
			border-radius: $border-radius-large 0 0 $border-radius-large;
		}
		&:nth-child(3) {
			border-radius: 0 $border-radius-large $border-radius-large 0;
		}
		&:visited:not(.active) {
			color: white;
		}
	}
	.helper {
		margin-left: $spacing-small;
	}
}