.header {
	width: 100%;
	box-shadow: 0 0 14px -3px $grey-dark;
	background-color: $black-ninety;
	color: white;
	z-index: 1;
	position: relative;
}
.nav-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.nav-list-item {
		display: inline-block;
	}
}
.toggle {
	.toggle-button {
		border: solid 1px white;
		display: inline-block;
		cursor: pointer;
		padding: $spacing-extra-small $spacing-small;
		text-transform: capitalize;
		&.active {
			background: white;
			color: $black-ninety;
		}
		&:hover:not(.active) {
			background: rgba(255,255,255,0.25);
		}
		&:first-child {
			border-radius: $border-radius-large 0 0 $border-radius-large;
		}
		&:last-child {
			border-radius: 0 $border-radius-large $border-radius-large 0;
		}
	}
}